<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:protocol name="dubbo" port="${service.port:80}"
		accesslog="true" />
	<!-- activemq接收端服务 -->
	<dubbo:service
		interface="com.run.locman.api.activemq.service.ActiveMqReceiveService"
		ref="activeMqReceiveService" protocol="dubbo" />
	<bean id="activeMqReceiveService"
		class="com.run.activemq.service.impl.ActiveMqReceiveServiceImpl" />

</beans>