<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:consumer timeout="10000" check="false" />
	<dubbo:reference interface="com.run.locman.api.query.service.FactoryQueryService"
		id="factoryQueryService" />
	<dubbo:reference
		interface="com.run.locman.api.crud.service.DeviceReportedCrudService"
		id="deviceReportedCrudService" />
</beans>
