<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.run.locman.api.crud.repository.DeviceJobCrudRepository">
	<sql id="Base_Column">
		id, deviceId, jobId, item , openTime
	</sql>
	<insert id="saveDeviceRsJob" parameterType="java.util.Map">
		INSERT INTO Device_Job (
		<include refid="Base_Column" />
		)
		VALUES(#{id}, #{deviceId}, #{jobId}, #{item},#{openTime})
	</insert>

	<delete id="deleteByDeviceId" parameterType="java.util.Map">
		DELETE FROM
		Device_Job WHERE deviceId = #{deviceId} and item in
		<foreach item="item" collection="keySet" index="index" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByJobId" parameterType="java.lang.String">
		DELETE FROM Device_Job
		WHERE jobId = #{jobId}
	</delete>

</mapper>