<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.run.locman.api.crud.repository.DeviceStateHistoryCrudRepository">

	<sql id="Base_Column">
		id, deviceId, datas, reportTime
	</sql>
	
	<insert id="insertModel" parameterType="com.run.locman.api.entity.DeviceStateHistory">
		insert into DeviceStateHistory (
		<include refid="Base_Column" />
		)
		values (#{id}, #{deviceId}, #{datas}, #{reportTime})
	</insert>
	
</mapper>