<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.run.locman.api.crud.repository.FacilitiesTypeBaseCudRepository">

	<resultMap type="com.run.locman.api.entity.FacilitiesTypeBase" id="FacilitiesTypeBaseResultMap">
		<result column="id" property="id" javaType="String" />
		<result column="facilityTypeName" property="facilityTypeName" javaType="String" />
		<result column="facilityTypeIco" property="facilityTypeIco" javaType="String" />
		<result column="manageState" property="manageState" javaType="String" />
		<result column="createTime" property="createTime" javaType="String" />
		<result column="createUser" property="createUser" javaType="String" />
	</resultMap>

	<sql id="Base_Column">
		id, facilityTypeName, facilityTypeIco, manageState, createTime, createUser
	</sql>
	<sql id="Base_Condition">
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="facilityTypeName != null">
			and facilityTypeName=#{facilityTypeName}
		</if>
		<if test="facilityTypeIco != null">
			and facilityTypeIco=#{facilityTypeIco}
		</if>
		<if test="manageState != null">
			and manageState=#{manageState}
		</if>
		<if test="createTime != null">
			and createTime=#{createTime}
		</if>
		<if test="creationTime != null">
			and createUser=#{createUser}
		</if>
	</sql>

	<insert id="insertModel" keyProperty="id" parameterType="com.run.locman.api.entity.FacilitiesTypeBase">
		insert into FacilitiesTypeBase(<include refid="Base_Column" />) 
		values (
			#{id}, #{facilityTypeName}, #{facilityTypeIco}, #{manageState}, #{createTime}, #{createUser}
		)
	</insert>

	<update id="updateModel" parameterType="com.run.locman.api.entity.FacilitiesType">
		update FacilitiesTypeBase set 
			facilityTypeName=#{facilityTypeName}, 
			facilityTypeIco=#{facilityTypeIco}, 
			manageState=#{manageState}, 
			createTime=#{createTime}, 
			createUser=#{createUser}
		where id=#{id}
	</update>

	<update id="updatePart" parameterType="java.util.Map">
		update FacilitiesTypeBase 
		<trim prefix="SET" suffixOverrides=",">
			<if test="facilityTypeName != null">
				facilityTypeName=#{facilityTypeName},
			</if>
			<if test="facilityTypeIco != null">
				facilityTypeIco=#{facilityTypeIco},
			</if>
			<if test="manageState != null">
				manageState=#{manageState},
			</if>
			<if test="createTime != null">
				createTime=#{createTime},
			</if>
			<if test="createUser != null">
				createUser=#{createUser},
			</if>
		</trim> 
		where id=#{id}
	</update>

</mapper>