<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.run.locman.api.crud.repository.OrderProcessCudRepository">

	<resultMap id="BaseResultMap" type="com.run.locman.api.entity.ProcessInfo">
		<result column="id" property="id" javaType="String" />
		<result column="processType" javaType="String" property="processType" />
		<result column="createBy" javaType="String" property="createBy" />
		<result column="createTime" javaType="String" property="createTime" />
		<result column="accessSecret" javaType="String" property="accessSecret" />
		<result column="manageState" javaType="String" property="manageState" />
		<result column="updateBy" javaType="String" property="updateBy" />
		<result column="updateTime" javaType="String" property="updateTime" />
		<result column="fileId" javaType="String" property="fileId" />
		<result column="remarks" javaType="String" property="remarks" />
	</resultMap>

	<sql id="Base_Column">
		id,processType,createBy,createTime,accessSecret,manageState,updateBy,updateTime,fileId,mark
	</sql>

	<insert id="insertModel" parameterType="com.run.locman.api.entity.ProcessInfo">
		insert into process_info(
		<include refid="Base_Column" />
		) values
		(#{id},#{processType},#{createBy},#{createTime},#{accessSecret},#{manageState},#{updateBy},#{updateTime},#{fileId},#{remarks})
	</insert>

	<update id="updatePart" parameterType="com.run.locman.api.entity.ProcessInfo">
		update process_info set
		<if test="id != null and id != ''">
			id=#{id}
		</if>
		<if test="fileId != null and fileId != ''">
			,fileId=#{fileId}
		</if>
		<if test="updateBy != null and updateBy != ''">
			,updateBy=#{updateBy}
		</if>
		<if test="processType != null and processType != ''">
			,processType=#{processType}
		</if>
		<if test="updateTime != null and updateTime != ''">
			,updateTime=#{updateTime}
		</if>
		<if test="createTime != null and createTime != ''">
			,createTime=#{createTime}
		</if>
		<if test="createBy != null and createBy != ''">
			,createBy=#{createBy}
		</if>
		<if test="manageState != null and manageState != ''">
			,manageState=#{manageState}
		</if>
		<if test="accessSecret != null and accessSecret != ''">
			,accessSecret=#{accessSecret}
		</if>

		where id=#{id}
	</update>
</mapper>

