<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.run.locman.api.query.repository.TimeoutReportConfigQueryRepository">
	<resultMap id="BaseResultMap" type="com.run.locman.api.entity.TimeoutReportConfig">
		<id column="id" property="id" javaType="String" />
		<result column="name" property="name" javaType="String" />
		<result column="createTime" property="createTime" javaType="String" />
		<result column="createUserId" property="createUserId" javaType="String" />
		<result column="updateTime" property="updateTime" javaType="String" />
		<result column="updateUserId" property="updateUserId" javaType="String" />
		<result column="timeoutReportTime" property="timeoutReportTime"
			javaType="java.lang.Integer" />
		<result column="accessSecret" property="accessSecret" javaType="String" />
		<result column="managerState" property="managerState" javaType="String" />
	</resultMap>
	<sql id="Base_Column">
		id,name,createTime,createUserId,updateTime,updateUserId,timeoutReportTime,accessSecret,managerState
	</sql>

	<select id="getTimeoutReoprtConfigList" parameterType="com.run.locman.api.dto.TimeoutReportConfigQueryDto"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column" />
		FROM TimeoutReportConfig WHERE accessSecret = #{accessSecret}
		<if test="name != null and name != ''">
			AND name LIKE CONCAT
			('%',#{name},'%')
		</if>
		order by updateTime desc
	</select>


	<select id="getTimeoutConfigById" parameterType="com.run.locman.api.entity.TimeoutReportConfig"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column" />
		FROM TimeoutReportConfig t
		WHERE t.managerState = #{managerState}
		AND
		t.id = #{id};
	</select>

	<select id="findPageList" parameterType="com.run.locman.api.model.FacilitiesDtoModel"
		resultType="com.run.locman.api.entity.Facilities">
		SELECT * FROM
		(
		SELECT
		DISTINCT
		f.id,
		f.facilitiesCode,
		f.address,
		f.completeAddress,
		ft.facilityTypeAlias,
		facilitiesTypeId
		FROM
		Facility_Device fd
		LEFT JOIN
		Facilities f ON f.id = fd.facilityId
		LEFT JOIN
		FacilitiesType ft ON
		f.facilitiesTypeId = ft.id
		where f.accessSecret =
		#{accessSecret}
		<if test="binding != null and binding != '' and binding == 'bound'">
			and f.id in(

			SELECT ft.facilityId
			FROM TimeoutReportConfig t
			LEFT JOIN
			Facility_TimeoutReportConfig ft ON t.id =
			ft.timeoutReportConfigId
			WHERE t.managerState = 'enable'
			<if test="configId != null and configId != ''">
				AND ft.timeoutReportConfigId = #{configId}
			</if>
			)
		</if>
		<if test="binding != null and binding != '' and binding == 'unBound' ">
			and f.id not in(

			SELECT ft.facilityId
			FROM TimeoutReportConfig t
			LEFT
			JOIN Facility_TimeoutReportConfig ft ON t.id =
			ft.timeoutReportConfigId
			WHERE t.managerState = 'enable'
			)
		</if>
		<if test="manageState != null and  manageState != ''">
			and f.manageState = #{manageState}
		</if>
		<if test="facilitiesTypeId != null and facilitiesTypeId != ''">
			and f.facilitiesTypeId = #{facilitiesTypeId}
		</if>
		<if test="facilitiesCode != null and facilitiesCode != ''">
			and f.facilitiesCode = #{facilitiesCode}
		</if>
		<if test="address != null and address != ''">
			and f.address like CONCAT('%',#{address},'%')
		</if>
		<if test="facilitiesTypeId != null and facilitiesTypeId != ''">
			and ft.id = #{facilitiesTypeId}
		</if>
		)
		a
		where 1 = 1
		<if test="searchKey != null and searchKey != ''">
			and a.facilitiesCode like
			CONCAT('%',#{searchKey},'%')
			or
			a.address like
			CONCAT('%',#{searchKey},'%')
			or
			a.completeAddress like
			CONCAT('%',#{searchKey},'%')
		</if>
	</select>

	<select id="getDeviceAndTime" resultType="com.run.locman.api.dto.DeviceAndTimeDto">
		SELECT
		DISTINCT
		fd.deviceId AS device,
		frc.timeoutReportTime AS configTime
		FROM TimeoutReportConfig frc
		LEFT JOIN
		Facility_TimeoutReportConfig ft on frc.id =
		ft.timeoutReportConfigId
		LEFT JOIN Facility_Device fd ON ft.facilityId = fd.facilityId
		RIGHT
		JOIN Device d ON d.id = fd.deviceId WHERE d.manageState = 'enabled'
		AND
		ft.facilityId in
		(
		SELECT
		DISTINCT
		f.id
		FROM
		Facility_Device fd
		LEFT JOIN
		Facilities f ON f.id =
		fd.facilityId
		WHERE f.manageState = 'enable'
		)
	</select>

</mapper>